html,body{font-family:robot, verdana;font-size:12px;background-color:#ccc;}

.clear{clear:both;}
.move-list-item{display:block;background-color:#fff;}
.move-list-item > .lft{float:left;width:43%;}
.move-list-item > .cntr{float:left;width:14%;}
.move-list-item > .rht{float:right;width:43%;}
.move-list-item .inner{height:250px;}
.move-list-item .cntr .inner{text-align:center;}
.move-list-item .cntr .inner .fa{margin-top:100px;}
.move-list-item .inner.box{height:250px;border:1px solid #999;box-shadow:0px 1px 2px 2px #999;overflow:hidden;overflow-y:auto;}
.move-list-item .inner.box p{display:block;list-style-type:none;padding:0;margin:0;font-weight:bold;}
.move-list-item .inner.box ul{display:block;list-style-type:none;padding:0;margin:0;}
.move-list-item .inner.box ul > li{display:block;padding:0;margin:0;background-color:#f1f1f1;}
.move-list-item .inner.box a{display:block;padding:5px 8px;color:#000;text-decoration:none;outline-style:none;}
.move-list-item .inner.box ul > li:nth-child(even){background-color:#ffffff;}
.move-list-item .inner.box ul > li > a:hover{background-color:#999;}
.move-list-item .rht .inner.box ul > li .fa{float:right;}